.choresText {
   color: orangered;
   font: italic;
   font-family: 'Courier New', Courier, monospace;
   font-size: larger;
}

.choresHeading {
   color: seagreen;
   font-family: 'Courier New', Courier, monospace;
   text-decoration: underline;
   font-size: x-large;
}